@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap&family=Roboto:wght@400&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

*:focus {
  box-shadow: none !important;
}

.cinzel {
  font-family: "Cinzel", serif;
}

.custom-link {
  a {
    text-decoration: none;
  }
}
