@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap&family=Roboto:wght@400&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

*:focus {
  box-shadow: none !important;
}

.cinzel {
  font-family: "Cinzel", serif;
}

.custom-link {
  a {
    text-decoration: none;
  }
}

.custom-input {
  border: none;
  border-bottom: 2px solid;
  border-radius: 0;
  color: #11294c;

  &:focus {
    border-bottom: 2px solid;
    color: #a89476 !important;
  }
}
