.form-downloads {
  background-color: whitesmoke;
  border-bottom: 10px solid #11294c;
  box-shadow: 2px 2px 5px #d5d5d5;

  .h3 {
    color: #3e899f;
    font-family: "Cinzel";
    font-weight: bold;
  }

  .h3:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 5px 5px;
    border-bottom: 2px solid #97856a;
  }
}

.form-downloads-warning {
  color: white;
  background-color: #11294c;
  padding: 10px 10px 1px 10px;
  border-radius: 5px;
  margin: 10px 0px;
}
